@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');


.App{
  background-color: #f4f4e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ul{
 list-style-type: none;
 display: block;
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 flex-wrap: wrap;
 padding-right:40px;
}
.name{
  color: #C05835;
  font-family: "Quando";
  width: 350px;
}
.links{
  color: #637865;
  display: block;
  
}
.images{
  height: 50%;
}
.audio{
  display: block;
}
.extralink{
  display: block;
  height: 50px;
  width: 50px;
}
